@using Phoenix.Server.Services.Database;

@section Scripts{
    <script type="text/javascript" src="~/assets/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
}
@section Breadcrumb{
    <div class="-intro-x breadcrumb mr-auto hidden sm:flex">
        <span>Chương trình</span> <i data-feather="chevron-right" class="breadcrumb__icon"></i>
        <a href="#" class="breadcrumb--active">Nhập kho</a>
    </div>
}
@Html.AntiForgeryToken()
<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Nhập kho
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <a href="@Url.Action("Saved","Input")" class="btn btn-primary text-white shadow-md mr-2">Quay lại</a>
    </div>
</div>
<div class="grid gap-6 mt-5">
    <div class="intro-y box p-5">
        <div class="grid grid-cols-12 gap-2">
            <div class="col-span-12 lg:col-span-6">
                <label>Hóa đơn nhập</label>
                <input type="text" id="Name" class="form-control">
            </div>
        </div>
        <div class="grid mt-3">
            <div class="w-full sm:w-auto flex mt-5 sm:mt-0 ml-auto">
                <button type="button" onclick="onResetSearch();" class="btn btn-danger text-white shadow-md mr-2">Xóa tìm kiếm</button>
                <button type="button" onclick="onSearch();" class="btn btn-warning text-white shadow-md mr-2">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>
<div class="intro-y box p-5 mt-5">
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <a href="javascript:;" data-toggle="modal" data-target="#complete-modal" class="btn btn-success text-white shadow-md mr-2">
            <i data-feather="check-circle" class="w-4 h-4 mr-2"></i> Hoàn thành
        </a>
        <a href="javascript:;" data-toggle="modal" data-target="#cancel-modal" class="btn btn-danger text-white shadow-md mr-2">
            <i data-feather="x-circle" class="w-4 h-4 mr-2"></i> Hủy
        </a>
    </div>
    <div id="main-grid"></div>
    <script>
        var dateFormatter = function (cell, formatterParams) {
            var value = cell.getValue();

            if (value) {
                value = moment(value).format("DD/MM/YYYY HH:mm:ss");
            }

            return value;
        }
        var table = new Tabulator("#main-grid", {
            layout: "fitDataFill",
            ajaxURL: "@Html.Raw(Url.Action("Detail", "InputInfo"))",
            ajaxConfig: "post",
            ajaxRequesting: function (url, params) {
                params.Name = $('#MedicineName').val();
            },
            ajaxResponse: function (url, params, response) {
                return response;
            },
            ajaxFiltering: true,
            paginationSize: 10,
            paginationSizeSelector: [10, 25, 50, 100],
            pagination: "remote",
            paginationDataSent: {
                "size": "pageSize",
                "page": "page",
            },
            paginationDataReceived: {
                "data": "Data",
                "last_page": "Total"
            },
            placeholder: "Chưa có dữ liệu",
            columns: [
                { title: "Mã hóa đơn", field: "IdInput", sorter: "string", width: 160 },
                {
                    title: "Tên thuốc", field: "MedicineName", sorter: "string", width: 250, formatter(cell, formatterParams)
                    {
                        return `<a class="text-theme-1 dark:text-theme-10"> ${cell.getData().MedicineName}</a>`
                    }
                },
                { title: "Số lô", field: "Batch", sorter: "string", width: 130 },
                { title: "Số lượng", field: "Count", sorter: "string", width: 150 },
                { title: "Giá nhập", field: "InputPrice", sorter: "string", width: 150 },
                { title: "Tổng tiển", field: "Total", sorter: "string", width: 150 },
                { title: "Hạn sử dụng", field: "DueDate", sorter: "date", width: 180, formatter: dateFormatter },
                @*{
                    title: "Ngày tạo", field: "CreatedAt", sorter: "date", width: 180, formatter: dateFormatter
                },
                {
                    title: "Ngày cập nhật", field: "UpdatedAt", sorter: "date", width: 180, formatter: dateFormatter
                },*@
            ],
        });
        let onSearch = (e) => {
            table.setData();
        }
        let onResetSearch = (e) => {
            $('#MedicineName').val('');
            table.setData();
        }
    </script>
</div>
<!--Modal hoàn thành nhập kho-->
<div id="complete-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <i data-feather="check" class="w-16 h-16 text-theme-21 mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Bạn có đồng ý nhập kho?</div>
                    <div class="text-gray-600 mt-2">Thuốc sẽ được nhập vào kho!</div>
                </div>
                @using (Html.BeginForm("Complete", "InputInfo", new { id = Model.Id }))
                {
                    <div class="px-5 pb-8 text-center">
                        <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-24 dark:border-dark-5 dark:text-gray-300 mr-1">Thoát</button>
                        <button type="submit" class="btn btn-primary w-24">Đồng ý</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!--Modal hủy phiếu nhập-->
<div id="cancel-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <i data-feather="x" class="w-16 h-16 text-theme-21 mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Bạn muốn hủy phiếu nhập ?</div>
                    <div class="text-gray-600 mt-2">Phiếu nhập kho này sẽ bị hủy!</div>
                </div>
                @using (Html.BeginForm("Cancel", "Input", new { id = Model.Id }))
                {
                    <div class="px-5 pb-8 text-center">
                        <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-24 dark:border-dark-5 dark:text-gray-300 mr-1">Thoát</button>
                        <button type="submit" class="btn btn-danger w-24">Đồng ý</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>