@model Phoenix.Server.Web.Areas.Admin.Models.Input.InputModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Tạo phiếu nhập
        </h2>
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
            <a href="@Html.Raw(Url.Action("Index"))" class="btn btn-danger">
                <i data-feather="x-octagon" class="w-4 h-4 mr-2"></i> Hủy phiếu nhập
            </a>
            <button type="submit" class="btn btn-success">
                <i data-feather="save" class="w-4 h-4 mr-2"></i>Lưu
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
