@using Phoenix.Server.Services.Database;

@section Scripts{
    <script type="text/javascript" src="~/assets/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
}
@section Breadcrumb{
    <div class="-intro-x breadcrumb mr-auto hidden sm:flex">
        <span>Chương trình</span> <i data-feather="chevron-right" class="breadcrumb__icon"></i>
        <a href="#" class="breadcrumb--active">Nhập kho</a>
    </div>
}

<script>
    var tableContent = [];
    function render_tbody() {
        let template = (stt, id, name, qty, price, lotNumber, expiredDate) => `<tr class="bg-gray-200 dark:bg-dark-1">
                            <td class="border-b dark:border-dark-5">${stt}</td>
                            <td class="border-b dark:border-dark-5">${name}</td>
                            <td class="border-b dark:border-dark-5">
                                <input type="text" class="form-control" placeholder="Lô" aria-label="Price" aria-describedby="input-group-price" value="${price}" />
                            </td>
                            <td class="border-b dark:border-dark-5">
                                <input class="datepicker form-control w-56 block mx-auto" data-single-mode="true">
                            </td>
                            <td class="border-b dark:border-dark-5">
                                <input type="text" class="form-control" placeholder="Giá" aria-label="Price" aria-describedby="input-group-price">
                            </td>
                            <td class="border-b dark:border-dark-5">
                                <input type="text" class="form-control" placeholder="Số lượng" aria-label="Price" aria-describedby="input-group-price">
                            </td>
                            <td class="border-b dark:border-dark-5">
                                <button href="javascript:;" data-toggle="modal-cancel" data-target="#custom-content-tooltip" type="submit" class="btn btn-danger text-white shadow-md mr-2">
                                    <i data-feather="trash-2" class="w-4 h-4 mr-2"></i>
                                </button>
                            </td>
                        </tr>`;
        let htmlTemplate = "";
        tableContent.map(function (row, index) {
            htmlTemplate += template(index + 1, row.medicineId, row.medicineName, row.qty, row.price, row.lotNumber, row.expiredDate)
        })
        $("#tbody").html(htmlTemplate)
    }
    $(document).ready(function () {
        render_tbody()
    })
</script>
@Html.AntiForgeryToken()
<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Nhập kho
    </h2>
    <!--Thêm hóa đơn nhập-->
    <div class="text-center">
        <a href="@Url.Action("Create","Input")" class="btn btn-primary text-white shadow-md mr-2">Thêm mới</a>
    </div>
    <!-- END: Modal Toggle -->
</div>
<div class="grid gap-6 mt-5">
    <div class="intro-y box p-5">
        <div class="grid grid-cols-12 gap-2">
            <div class="col-span-12 lg:col-span-6">
                <label>Hóa đơn</label>
                <input type="text" id="Name" class="form-control">
            </div>
            <div class="col-span-12 lg:col-span-6">
                <label>Hóa đơn nhập</label>
                <input type="text" id="NameStaff" class="form-control">
            </div>
        </div>
        <div class="grid mt-3">
            <div class="w-full sm:w-auto flex mt-5 sm:mt-0 ml-auto">
                <button type="button" onclick="onResetSearch();" class="btn btn-danger text-white shadow-md mr-2">Xóa tìm kiếm</button>
                <button type="button" onclick="onSearch();" class="btn btn-warning text-white shadow-md mr-2">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>
<div class="intro-y box p-5 mt-5">
    <div id="main-grid"></div>
    <script>
        var dateFormatter = function (cell, formatterParams) {
            var value = cell.getValue();

            if (value) {
                value = moment(value).format("DD/MM/YYYY HH:mm:ss");
            }

            return value;
        }
        var table = new Tabulator("#main-grid", {
            layout: "fitDataFill",
            ajaxURL: "@Html.Raw(Url.Action("List", "Input"))",
            ajaxConfig: "post",
            ajaxRequesting: function (url, params) {
                params.Name = $('#Name').val();
            },
            ajaxResponse: function (url, params, response) {
                return response;
            },
            ajaxFiltering: true,
            paginationSize: 10,
            paginationSizeSelector: [10, 25, 50, 100],
            pagination: "remote",
            paginationDataSent: {
                "size": "pageSize",
                "page": "page",
            },
            paginationDataReceived: {
                "data": "Data",
                "last_page": "Total"
            },
            placeholder: "Chưa có dữ liệu",
            columns: [
                { title: "Mã hóa đơn", field: "Id", sorter: "string", width: 150 },
                {
                    title: "Tên người tạo", field: "NameStaff", sorter: "string", width: 200, formatter(cell, formatterParams)
                    {
                        return `<a href="../Admin/InputInfo/Detail/${cell.getData().Id}" class="text-theme-1 dark:text-theme-10"> ${cell.getData().NameStaff}</a>`
                    }
                },
                { title: "Nhà cung cấp", field: "SupplierName", sorter: "string", width: 300 },
                { title: "Ngày tạo", field: "DateInput", sorter: "date", width: 180, formatter: dateFormatter },
                { title: "Trạng thái", field: "Status", sorter: "date", width: 150, formatter: dateFormatter },
                {
                    title: "", field: "", sorter: "string", width: 80, formatter(cell, formatterParams) {
                        return `<a href="../Admin/Input/Complete/${cell.getData().Id}" class="btn btn-primary text-white shadow-md mr-2">Hoàn thành</a>`
                    }
                }
                @*{
                    title: "Ngày tạo", field: "CreatedAt", sorter: "date", width: 180, formatter: dateFormatter
                },
                {
                    title: "Ngày cập nhật", field: "UpdatedAt", sorter: "date", width: 180, formatter: dateFormatter
                },*@
            ],
        });
        let onSearch = (e) => {
            table.setData();
        }
        let onResetSearch = (e) => {
            $('#NameStaff').val('');
            $('#Name').val('');
            table.setData();
        }
    </script>
</div>
